default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: local
    hooks:
      - id: cargo-clippy
        name: Cargo Clippy
        language: system
        types_or: [ rust ]
        entry: cargo clippy
        args: [ --all-targets, --all-features, --, -D, warnings ]
        pass_filenames: false
        stages: [pre-commit]
  - repo: https://github.com/kykosic/pre-commit-rust.git
    rev: 0.4.0
    hooks:
      - id: cargo-fmt
        stages: [pre-commit]
        types_or: [ rust ]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.13
    hooks:
      # Run the linter.
      - id: ruff-check
        types_or: [ python, pyi ]
        args: [ --fix ]
        stages: [pre-commit]
      # Run the formatter.
      - id: ruff-format
        types_or: [ python, pyi ]
        stages: [pre-commit]
  
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []